
.AddNewEmp {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 4vh;
  background-color: #0301a8;
  border: 0.1em solid;
  z-index: 1000;
}

.AddNewEmp .label {
    margin-left: 1vw;
}

.AddNewEmp .inputText {
  margin: 1vh;
}
