
.Control {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    border: 0.1em solid;
    color: #fbfc55;
    background-color: #0301a8;
}

 .Control .inputText {
    border-color: #fbfc55;
    background-color: #fbfc55 ;
    color:#0301a8;
    font-family:  'Press Start 2P', cursive;
    padding: 0.3em;
}

.NoControl {
    display: none
}